@{
    ViewBag.Title = "Contact";
}
<h1 style="text-align:center">@ViewBag.Title</h1>
<div>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        Phone Number: 1 (816)-885-1633<br />
        425.555.0100
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@example.com">tmfierro@outlook.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">tmfierro@outlook.com</a>
    </address>
</div>